<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253600977718-kkbltkbsrgcjjnti1h20ohtmu4ch1q53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253600977718-kkbltkbsrgcjjnti1h20ohtmu4ch1q53</string>
	<key>API_KEY</key>
	<string>AIzaSyDlpAMKcCCpGy-119BXuRxHE-TnVi5UWi8</string>
	<key>GCM_SENDER_ID</key>
	<string>253600977718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstproject</string>
	<key>PROJECT_ID</key>
	<string>my-firebase-project-5c85d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-firebase-project-5c85d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253600977718:ios:1c98b6699f18a7b2d2d997</string>
</dict>
</plist>